<div class="container">
  <h2>Find a dock near your destination.</h2>
  <div class="form">
    <%= form_tag searches_path, :method => :post do %>   
    <%= text_field_tag :address, params[:address], placeholder: 'street city and zip...'%>  
    <%= submit_tag "Find me a dock", :name => :dock %>  
    <%= submit_tag "Find me a bike", :name => :dock %>  
    <% end %>  
  </div>
  <ul>
    <li>Your Saved Destinations:</li>
    <% @user.favorites.each do |favorite| %>
    <%= form_tag searches_path, :method => :post do %>
    <%= submit_tag "#{favorite.address}", :name => :address %>
    <% end %>
    <% end %>
  </ul>
</div>



