<div class="container">

<div class="results">
  <%  unless @coordinates.nil? %>
  <ul>
    <!-- <li><h3><%= "Destination coordinates: #{@coordinates}" %></h3></li> -->
    <li><h3><%= "Address of the closest dock to the destination: "%></h3></li>
    <li><h3><%="#{@winning_dock} has #{@citibike_docks[@i]["availableDocks"] } docks available. Huzzah!!" %></h3></li>
  </ul>
</div>
<% end  %>

 <% if logged_in? %>
 <div class="form">
    <%= form_tag user_favorites_path(current_user), :method => :post do %>
    <%= hidden_field_tag "favorite[address]", params[:address]%>
    <%= submit_tag "Save Destination to Favorites!" %>
    <% end %>

<% end %>
</div>

<h1>Find docks near your destination:</h1>  

 <div class="form">
    <%= form_tag searches_path, :method => :get do %>   
    <%= text_field_tag :address, params[:address], placeholder: 'street city and zip...'%>  
    <%= submit_tag "Go", :name => nil %>  
    <% end %>  
</div>

<div id="clear">
  <p><%= link_to "Clear", searches_path %> </p>
</div>






