<div class="container">

  <h1>Find docks near your destination:</h1>  
  
   <div class="form">
    <%= form_tag searches_path, :method => :get do %>   
        <%= text_field_tag :address, params[:address], placeholder: 'street city and zip...'%>  
        <%= submit_tag "Go", :name => nil %>  
    <% end %>  
  </div> 
</div>


<h3><%= "Destination coordinates: #{@x}#{@y}" %></h3>
<h3><%= "Coordinates for closest dock to the destination: #{@result}" %></h3>
<h3><%= "Address of the closest dock to the destination: #{@final_glorious_answer}" %></h3>

