<div class="container">
      <div class="nav">
      <ul>
        <% if logged_in? %>
        <div class="logo">
        <li><%= link_to "Awesome Citi", root_path %> </li>
        </div>
        <li><%= link_to "My Account", account_path %> </li>
        <li><%= link_to "New Search", new_search_path %> </li>
        <li><%= link_to 'Logout', session_path, :method => :delete %> </li>
        <% end %>
      </ul>
    </div>

  <h2>Search for the nearest available bike or dock:</h2>  

   <div class="form">
      <%= form_tag searches_path, :method => :post do %>  
      <%= text_field_tag :address, params[:address], placeholder: 'street city and zip...'%>  
      <%= submit_tag "Go" %>   
      <% end %>  
  </div>

  <ul>
    <li><h2><%= link_to "Go to Saved Destinations", user_path(current_user) %></h2></li>
  </ul>

</div>
