<div class="container">

<div class="results">
  <%  unless @coordinates.nil? %>
  <ul>
    <li><%= "Closest station: #{@winning_station["label"]}"%></li>
    <% if @dock %>
    <li><%="Available docks: #{@winning_station["availableDocks"] }" %></li>
    <% else %>
    <li><%="Available bikes: #{@winning_station["availableBikes"] }" %></li>
  <% end %>
    <li>Huzzah!!</li>
  </ul>
  <% end  %>
</div>

 <div class="form">
    <%= form_tag user_favorites_path(current_user), :method => :post do %>
    <%= hidden_field_tag "favorite[address]", params[:address]%>
    <%= submit_tag "Save This Destination" %>
    <% end %>
</div>






