<div class="container">

<div class="results">
  <%  unless @coordinates.nil? %>
    <ul>
      <% if @winning_bike_station["label"] == @winning_dock_station["label"]  %> 
      <li><%= "CityBike Station: #{@winning_bike_station["label"]}"%></li>
      <li><%="Docks: #{@winning_bike_station["availableDocks"] }" %></li>
      <li><%="Bikes: #{@winning_bike_station["availableBikes"] }" %></li>
    </ul>
    <% else %>
    <ul>
      <li><%= "Docks: #{@winning_dock_station["label"]}"%></li>
      <li><%="Available: #{@winning_dock_station["availableDocks"] }" %></li>
      <li><%= "Bikes: #{@winning_bike_station["label"]}"%></li>
      <li><%="Available: #{@winning_bike_station["availableBikes"] }" %></li>
    </ul>
    <% end %>
  <% end  %>
</div>


 <div class="form">
    <%= form_tag user_favorites_path(current_user), :method => :post do %>
    <%= hidden_field_tag "favorite[address]", params[:address]%>
    <%= submit_tag "Save This Destination", :name => :address %> 
    <% end %>
</div>


<!-- next best -->
<h2>next best:</h2>
  <ul>         
    <li><%= "Next Best Station: #{@next_best_station[0]["label"]}" %></li>
    <li><%= "Docks: #{@next_best_station[0]["availableDocks"]}" %></li>
    <li><%= "Bikes: #{@next_best_station[0]["availableBikes"]}" %></li>
  <ul>



