<div class="container">

<div class="results">
  <%  unless @coordinates.nil? %>
  <ul>
    <li><%= "Closest dock: #{@winning_dock["label"]}"%></li>
    <li><%="Available docks: #{@winning_dock["availableDocks"] }. Huzzah!!" %></li>
  </ul>
  <% end  %>
</div>

 <div class="form">
    <%= form_tag user_favorites_path(current_user), :method => :post do %>
    <%= hidden_field_tag "favorite[address]", params[:address]%>
    <%= submit_tag "Save Search to Favorites!" %>
    <% end %>
</div>

<ul>
  <li><h2><%= link_to "New Search", new_search_path %></h2></li>
  <li><h2><%= link_to "Go to Favorites", user_path(current_user) %></h2></li>
</ul>






