<!DOCTYPE html>
<html>
<head>
  <title>Citi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
    <% if logged_in? %>
    <li><h2><%= link_to "Awesome Citi", root_path %></h2></li>
    <li><h2><%= link_to "New Search", new_search_path %></h2></li>
    <li><h2><%= link_to "Go to Saved Destinations", user_path(current_user) %></h2></li>
    <li><h2><%= link_to 'Logout', session_path, :method => :delete %></h2></li>
    <% end %>
    </ul>
  </nav>
<%= yield %>
</div>
</body>
</html>





