<!DOCTYPE html>
<html>
<head>
  <title>Awesome Citi</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>


</head>
<body>
   <!-- <h1>AWESOMECITI.NYC</h1>-->
   <%= render 'layouts/header'%>
<div class="container">
  <%= yield %>
</div>
<footer>
</footer>
</div>
</body>
</html>

      




