<!DOCTYPE html>
<html>
<head>
  <title>Awesome Citi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav">
      <ul>
        <% if logged_in? %>
        <li><%= link_to "Awesome Citi", root_path %> </li>
        <li><%= link_to "My Account", account_path %> </li>
        <li><%= link_to "New Search", new_search_path %> </li>
        <li><%= link_to "Saved Destinations", user_path(current_user) %></li>
        <li><a href="http://citibikenyc.com/stations"target="_blank">Station Map</a></li>
        <li><%= link_to 'Logout', session_path, :method => :delete %> </li>
        <% end %>
      </ul>
  </div>
<%= yield %>
<footer>
  <% javascript_include_tag(:application) %>
</footer>
</div>

</body>
</html>





